body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital-Italic.woff2') format('woff2'),
        url('fonts/Digital-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

.calculator-body {
  min-width: 288px;
  max-width: 393px;
  padding: 1em;
  background-color: rgb(229, 220, 206);
}
.calculator-display-frame {
  padding: 0.3em 1em 2em 1em;
  border-radius: 10px;
  background-color: rgb(54, 60, 64);
}

.display {
  border-radius: 10px;
  background-color: #a5b6a3;
}

.display-frame-panel {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 11px 26px;
}

.level {
  font-size: 1em;
  align-self: center;
  font-style: italic;
}

.solar-battery {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #653833;
  -webkit-box-shadow: inset 0px 4px 4px 0px rgb(73,44,36);
  -moz-box-shadow: inset 0px 4px 4px 0px rgb(73,44,36);
  box-shadow: inset 0px 4px 4px 0px rgb(73,44,36);
}

.solar-battery__segment {
  display: block;
  width: 1em;
  height: 1.5em;
  border-right: 2px solid #724540;
}

.solar-battery__segment:nth-last-child(1) {
  border: 0;
}
.display {
  padding: 10px 10px;
  border: 0;
  background-color: #a5b6a3;
  -webkit-box-shadow: inset 0px 6px 0px 0px rgb(140,153,135);
  -moz-box-shadow: inset 0px 6px 4px 0px rgb(140,153,135);
  box-shadow: inset 0px 6px 0px 0px rgb(140,153,135);
}

.display-bar {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.calculator-face--regular-sad {
  min-width: 4em;
  max-width: 5em;
  border: 6px solid #3d3d3d;
  border-radius: 20px;
  background-color: #a5b6a3;
}

.moves {
  width: 5em;
  padding: 15px 5px;
  border-radius: 4px;
  color: #a5b6a3;
  background-color: #3d3d3d;
  text-align: center;
  font-size: 0.8em;
}

.goal {
  width: 5em;
  padding: 15px 5px;
  border-radius: 4px;
  color: #a5b6a3;
  background-color: #3d3d3d;
  text-align: center;
  font-size: 0.8em;
}

.operation-panel {
  position: relative;
  margin: 0 8px;
  margin-top: 30px;
  margin-bottom: 2em;
  text-align: right;
}

.current-value--error-success {
  position: relative;
  font-size: 5em;
  color: #3d3d3d;
  font-family: "Digital-7", monospace;
  font-weight: normal;
  text-shadow: 4px 3px 2px rgba(150, 150, 150, 0.99);
}

.numbers-underneath {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5em;
  color: #3d3d3d;
  opacity: 0.1;
  font-family: "Digital-7", monospace;
  font-weight: normal;
}

.control-panel {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.button-place {
  position: relative;
  min-width: 4.8em;
  min-height: 4em;
  margin-bottom: 1em;
  /*background-color: #b6ada4; */
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 4.8em;
  flex-grow: 2;
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 0;
  border: 0px solid;
  border-radius: 6px;
  background-color: rgb(68, 73, 76);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(24,26,30,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(24,26,30,1);
  box-shadow: inset 0px -8px 0px 0px rgba(24,26,30,1);
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.button__text {
  display: block;
  width: 100%;
  font-size: 1em;
}

#hints--buy {
  background-color: rgb(0, 166, 160);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(0,122,116,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(0,122,116,1);
  box-shadow: inset 0px -8px 0px 0px rgba(0,122,116,1);
}

#clear {
  background-color: rgb(218, 0, 10);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(162,3,12,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(162,3,12,1);
  box-shadow: inset 0px -8px 0px 0px rgba(162,3,12,1);
  font-size: 1.7em;
}

#daily-hint {
  background-color: rgb(0, 182, 48);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(0,138,36,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(0,138,36,1);
  box-shadow: inset 0px -8px 0px 0px rgba(0,138,36,1);
  font-size: 0.7em;
}

#daily-hint > .button__text {
  padding-top: 25px;
  background-image: url("img/clock.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#settings {
  background-color: rgb(230, 190, 0);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(180,110,0,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(180,110,0,1);
  box-shadow: inset 0px -8px 0px 0px rgba(180,110,0,1);
}

#settings > .button__text {
  height: 60px;
  background-image: url("img/settings.svg");
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -99999px;
}

#reverse {
  background-color: rgb(203, 96, 0);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(197,60,0,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(197,60,0,1);
  box-shadow: inset 0px -8px 0px 0px rgba(197,60,0,1);
}

#delete-last-digit {
  background-color: rgb(203, 96, 0);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(197,60,0,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(197,60,0,1);
  box-shadow: inset 0px -8px 0px 0px rgba(197,60,0,1);
  font-size: 1.5em;
}

.mathOperation {
  font-size: 1.5em;
  background-color: rgb(68, 73, 76);
  -webkit-box-shadow: inset 0px -8px 0px 0px rgba(24,26,30,1);
  -moz-box-shadow: inset 0px -8px 0px 0px rgba(24,26,30,1);
  box-shadow: inset 0px -8px 0px 0px rgba(24,26,30,1);
}

.button-one,
.button-two,
.button-three,
.button-four,
.button-five {
  display: flex;
}

.button-socket {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 0px 0px #d6cfc5;
  -moz-box-shadow: 0px 4px 0px 0px #d6cfc5;
  box-shadow: 0px 4px 0px 0px #d6cfc5;
  background-color: rgb(183, 174, 163);
}

@media only screen and (min-width: 360px) {
  .button-place {
    min-width: 6em;
  }
}
